<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>blah CheckList App</title>
 
 <!--
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<!--			
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
-->
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Reports</a>
                    </li>
                    <li role="presentation"><a href="createchecklist">Create Checklist</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">blah CheckList App</h3>
        </div>
 
        <div class="jumbotron">
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="edp" role="button">EDP</a>
            <br><br>
            <a class="btn btn-lg btn-success" href="serverprovisioning" role="button">Server Provisioning</a>
            </p>
        </div>
 
        <footer class="footer">
            <p>&copy; blah 2016</p>
        </footer>
 
    </div>
</body>
 
</html>
